@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
  --primary-color: #52503b;
  --secondary-color: #faf8f0;
  --accent-color: #e08631;
  --text-color: #333333;
  --white-color: #fff;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  /* width: 1440px;
  margin-left: auto;
  margin-right: auto; */
  padding: 0 120px;
}

.btn {
  display: inline-block;
  min-width: 117px;
  border-radius: 6px;
  border: 1px solid transparent;
  padding: 11px 18px;

  font-size: 16px;
  line-height: 1.25;

  cursor: pointer;
}

.btn--light {
  background-color: var(--white-color);
  color: var(--primary-color);
}

.btn--dark {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.btn--light:hover,
.btn--light:focus,
.btn--dark:hover,
.btn--dark:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

/* header */
.header {
  background-color: var(--primary-color);
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
}

.logo {
  width: 128px;
}

.header-nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-nav__item:not(:last-child) {
  margin-right: 24px;
}

.header-nav__link {
  padding: 10px 0px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;

  color: var(--white-color);
}

/* hero */
.hero {
  padding-top: 178px;
  padding-bottom: 90px;
  max-width: 1440px;
  min-height: 730px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--accent-color);
  background-image: url(./images/hero.jpg);
  background-repeat: no-repeat;
  background-position: top -70px right 0;
  background-size: cover;

  text-align: center;
}

.hero__logo {
  width: 256px;
  margin-bottom: 31px;
}

.hero__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 31px;
  max-width: 1200px;

  font-weight: 400;
  font-size: 48px;
  line-height: 1.1;
  color: var(--white-color);
}

.hero__text {
  margin-bottom: 110px;

  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.8px;
  text-transform: uppercase;

  color: var(--white-color);
}

.rectangle {
  display: block;
  position: relative;
  width: 100%;
  height: 52.5px;
  cursor: pointer;
}

.rectangle::after {
  position: absolute;
  content: "";
  width: 33.75px;
  height: 52.5px;
  border: 2px solid #fff;
  border-radius: 37%;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.rectangle::before {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  margin-top: -10px;
  margin-left: -5px;

  content: "";
  width: 10px;
  height: 1px;
  border: 1px solid #ffffff;
  background-color: #fff;
  transform: rotate(90deg);
}

/* features */
.features {
  position: relative;
  padding-top: 140px;
  padding-bottom: 100px;
  background-color: var(--secondary-color);
}

.features::before {
  content: "";
  display: block;
  width: 42px;
  height: 8px;
  background-color: var(--accent-color);
  position: absolute;
  margin: 0;
  top: 100px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.features__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  width: 768px;
  margin-left: auto;
  margin-right: auto;
}

.features__text1 {
  width: 360px;

  line-height: 1.43;
  color: var(--text-color);
}

.features__text2 {
  margin-bottom: 41px;

  font-size: 13px;
  line-height: 1.54;
  color: var(--text-color);
}

/* tagline */
.tagline {
  position: relative;
  padding-top: 140px;
  padding-bottom: 140px;
}

.tagline__title {
  font-weight: 700;
  font-size: 96px;
  text-align: center;

  color: var(--primary-color);
}

.tagline::before {
  content: "";
  display: block;
  width: 42px;
  height: 8px;
  background-color: var(--accent-color);
  position: absolute;
  margin: 0;
  top: 100px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

/* advantages */
.advantages {
  position: relative;
  padding-top: 138px;
  padding-bottom: 100px;
  background-color: var(--secondary-color);
}

.advantages::before {
  content: "";
  display: block;
  width: 42px;
  height: 8px;
  background-color: var(--accent-color);
  position: absolute;
  margin: 0;
  top: 100px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.advantages__title {
  margin-bottom: 12px;

  font-size: 32px;
  line-height: 1.12;
  text-align: center;

  color: var(--primary-color);
}

.advantages__pre-text {
  width: 554px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;

  font-size: 16px;
  line-height: 1.5;
  text-align: center;

  color: var(--primary-color);
}

.advantages__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.advantages__item {
  width: 347px;
}

.advantages-icon {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 12px;
}

.advantages__item-title {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;

  color: var(--primary-color);
}

.advantages__item-text {
  line-height: 1.43;
  text-align: center;

  color: var(--primary-color);
}

/* privilege */

.privilege {
  position: relative;
  margin-top: 138px;
  margin-bottom: 100px;
}

.privilege::before {
  content: "";
  display: block;
  width: 42px;
  height: 8px;

  position: absolute;
  margin: 0;
  top: -30px;
  left: 120px;  
  
  background-color: var(--accent-color);
}

.privilege__title {
  margin-bottom: 12px;

  font-size: 32px;
  line-height: 1.12;
  /* text-align: center; */

  color: var(--primary-color);
}

.privilege__text {
  width: 600px;
  margin-bottom: 30px;

  font-size: 16px;
  line-height: 1.5;

  color: var(--primary-color);
}

.privilege__list {
  display: grid;
  grid-template-columns: 568px 568px;
  grid-gap: 32px;
}

.privilege__item {
  display: grid;
  grid-template-columns: 36px 516px;
  grid-gap: 16px;
}

.privilege__item-text {
  line-height: 1.43;
  color: var(--primary-color);
}

.privilege__item-text--dark {
  color: var(--text-color);
}

/* reviews */
.reviews {
  position: relative;
  padding-top: 138px;
  padding-bottom: 70px;

  background-color: var(--secondary-color);
}

.reviews::before {
  content: "";
  display: block;
  width: 42px;
  height: 8px;
  background-color: var(--accent-color);
  position: absolute;
  margin: 0;
  top: 100px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.reviews__title {
  margin-bottom: 12px;

  font-size: 32px;
  line-height: 1.12;
  text-align: center;

  color: var(--primary-color);
}

.reviews__pre-title {
  width: 600px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 32px;

  font-size: 16px;
  line-height: 1.5;
  text-align: center;

  color: var(--primary-color);
}

.reviews__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reviews__item {
  min-width: 584px;
  padding: 31px;
  margin: 20px;
  border: 1px solid rgba(82, 80, 59, 0.1);
  border-radius: 4px;
  background-color: var(--white-color);
}

.reviews__stars {
  margin-bottom: 10px;

  font-size: 18px;
  line-height: 1.33;

  color: var(--text-color);
}

.reviews__pre-text {
  margin-bottom: 11px;
}

.reviews__text {
  margin-bottom: 19px;

  line-height: 1.43;

  color: var(--text-color);
}

.reviews__user {
  position: relative;
  margin-left: 10px;

  line-height: 1.43;

  color: var(--text-color);
}

.reviews__user::before {
  position: absolute;
  top: 10px;
  left: -20px;

  content: "";
  width: 20px;
  height: 2px;
  border: 1px solid #e08631;
  background-color: var(--accent-color);
  transform: rotate(90deg);
}

.reviews-circle {
  margin-top: 20px;
  margin-left: 1054px;
}

.reviews-icon-circle:not(:last-child) {
  margin-right: 10px;
}

/* slogan */
.slogan__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 100px;
}

.slogan__container {
  position: relative;
  width: 552px;
  padding-top: 38px;
}

.slogan__container::before {
  content: "";
  display: block;
  width: 42px;
  height: 8px;

  position: absolute;
  top: 0;
  left: 0;  
  
  background-color: var(--accent-color);
}

.slogan__title {
  margin-bottom: 12px;

  font-size: 32px;
  line-height: 1.12;

  color: var(--primary-color);
}

.slogan__text {
  font-size: 16px;
  line-height: 1.5;

  color: var(--primary-color);
}

.slogan__list {
  width: 552px;
  display: grid;
  grid-template-columns: 260px 260px;
  grid-gap: 32px;
}

.slogan__item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 13px;
}

.slogan-icon {
  display: block;
  width: 36px;
  height: 36px;
}

.slogan__item-text {
  margin-left: 16px;

  line-height: 1.43;

  color: var(--text-color);
}

.slogan__item-text--big {
  margin-left: 24px;
}
