@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
  --primary-color: #52503b;
  --secondary-color: #faf8f0;
  --accent-color: #e08631;
  --text-color: #333333;
  --white-color: #fff;
}

html {
  box-sizing: border-box;
}

body {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  /* width: 1440px;
  margin-left: auto;
  margin-right: auto; */
  padding: 0 120px;
}

.btn {
  display: inline-block;
  min-width: 117px;
  border-radius: 6px;
  border: 1px solid transparent;
  padding: 11px 18px;

  font-size: 16px;
  line-height: 1.25;

  cursor: pointer;
}

.btn--light {
  background-color: var(--white-color);
  color: var(--primary-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn--dark {
  background-color: var(--primary-color);
  color: var(--white-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn--light:hover,
.btn--light:focus,
.btn--dark:hover,
.btn--dark:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

/* header */
.header {
  background-color: var(--primary-color);
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
}

.header__logo {
  width: 128px;
}

.header-nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-nav__item:not(:last-child) {
  margin-right: 24px;
}

.header-nav__link {
  padding: 10px 0px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;

  color: var(--white-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav__link:hover,
.header-nav__link:focus {
  color: var(--accent-color);
}

/* hero */
.hero {
  padding-top: 178px;
  padding-bottom: 90px;
  max-width: 1440px;
  min-height: 730px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--accent-color);
  background-image: url(./images/hero.jpg);
  background-repeat: no-repeat;
  background-position: top -70px right 0;
  background-size: cover;

  text-align: center;
}

.hero__logo {
  width: 256px;
  margin-bottom: 31px;
}

.hero__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 31px;
  max-width: 1200px;

  font-weight: 400;
  font-size: 48px;
  line-height: 1.1;
  color: var(--white-color);
}

.hero__text {
  margin-bottom: 110px;

  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.8px;
  text-transform: uppercase;

  color: var(--white-color);
}

.rectangle {
  display: block;
  position: relative;
  width: 100%;
  height: 52.5px;
  cursor: pointer;
}

.rectangle::after {
  position: absolute;
  content: "";
  width: 33.75px;
  height: 52.5px;
  border: 2px solid #fff;
  border-radius: 37%;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.rectangle::before {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  margin-top: -10px;
  margin-left: -5px;

  content: "";
  width: 10px;
  height: 1px;
  border: 1px solid #ffffff;
  background-color: #fff;
  transform: rotate(90deg);
}

/* features */
.features {
  position: relative;
  padding-top: 140px;
  padding-bottom: 100px;
  background-color: var(--secondary-color);
}

.features::before {
  content: "";
  display: block;
  width: 42px;
  height: 8px;
  background-color: var(--accent-color);
  position: absolute;
  margin: 0;
  top: 100px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.features__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  width: 768px;
  margin-left: auto;
  margin-right: auto;
}

.features__text1 {
  width: 360px;

  line-height: 1.43;
  color: var(--text-color);
}

.features__text2 {
  width: 343px;
  margin-bottom: 41px;

  font-size: 13px;
  line-height: 1.54;
  color: var(--text-color);
}

/* tagline */
.tagline {
  position: relative;
  padding-top: 140px;
  padding-bottom: 140px;
}

.tagline__title {
  font-weight: 700;
  font-size: 96px;
  text-align: center;

  color: var(--primary-color);
}

.tagline::before {
  content: "";
  display: block;
  width: 42px;
  height: 8px;
  background-color: var(--accent-color);
  position: absolute;
  margin: 0;
  top: 100px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

/* advantages */
.advantages {
  position: relative;
  padding-top: 138px;
  padding-bottom: 100px;
  background-color: var(--secondary-color);
}

.advantages::before {
  content: "";
  display: block;
  width: 42px;
  height: 8px;
  background-color: var(--accent-color);
  position: absolute;
  margin: 0;
  top: 100px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.advantages__title {
  margin-bottom: 12px;

  font-size: 32px;
  line-height: 1.12;
  text-align: center;

  color: var(--primary-color);
}

.advantages__pre-text {
  width: 554px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;

  font-size: 16px;
  line-height: 1.5;
  text-align: center;

  color: var(--primary-color);
}

.advantages__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.advantages__item {
  width: 347px;
}

.advantages-icon {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 12px;
}

.advantages__item-title {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;

  color: var(--primary-color);
}

.advantages__item-text {
  line-height: 1.43;
  text-align: center;

  color: var(--primary-color);
}

/* privilege */

.privilege {
  position: relative;
  margin-top: 138px;
  margin-bottom: 100px;
}

.privilege::before {
  content: "";
  display: block;
  width: 42px;
  height: 8px;

  position: absolute;
  margin: 0;
  top: -30px;
  left: 120px;

  background-color: var(--accent-color);
}

.privilege__title {
  margin-bottom: 12px;

  font-size: 32px;
  line-height: 1.12;
  /* text-align: center; */

  color: var(--primary-color);
}

.privilege__text {
  width: 600px;
  margin-bottom: 30px;

  font-size: 16px;
  line-height: 1.5;

  color: var(--primary-color);
}

.privilege__list {
  display: grid;
  grid-template-columns: 568px 568px;
  grid-gap: 32px;
}

.privilege__item {
  display: grid;
  grid-template-columns: 36px 516px;
  grid-gap: 16px;
}

.privilege__item-text {
  line-height: 1.43;
  color: var(--primary-color);
}

.privilege__item-text--dark {
  color: var(--text-color);
}

/* reviews */
.reviews {
  position: relative;
  padding-top: 138px;
  padding-bottom: 70px;

  background-color: var(--secondary-color);
  overflow: hidden;
}

.reviews::before {
  content: "";
  display: block;
  width: 42px;
  height: 8px;
  background-color: var(--accent-color);
  position: absolute;
  margin: 0;
  top: 100px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.reviews__title {
  margin-bottom: 12px;

  font-size: 32px;
  line-height: 1.12;
  text-align: center;

  color: var(--primary-color);
}

.reviews__pre-title {
  width: 600px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 302px;
  /* padding-bottom: 292px; */

  font-size: 16px;
  line-height: 1.5;
  text-align: center;

  color: var(--primary-color);
}

.reviews__list {
  position: relative;
  display: flex;
  align-items:flex-start;
  justify-content: center;
  transition: 2s;
}

.reviews__item {
  position: absolute;
  top: -268px;
  left: 604px;

  min-width: 584px;
  padding: 31px;
  margin: 20px;
  border: 1px solid rgba(82, 80, 59, 0.1);
  border-radius: 4px;
  background-color: var(--white-color);
  transition-timing-function: linear;

}

.reviews__item:first-child{
  top: -268px;
  left: 0;
}
.reviews__item:last-child{
  top: -268px;
  left: 1208px;
}

.reviews__stars {
  margin-bottom: 10px;

  font-size: 18px;
  line-height: 1.33;

  color: var(--text-color);
}

.reviews__pre-text {
  margin-bottom: 11px;
}

.reviews__text {
  width: 506px;
  margin-bottom: 19px;

  line-height: 1.43;

  color: var(--text-color);
}

.reviews__user {
  position: relative;
  margin-left: 10px;

  line-height: 1.43;

  color: var(--text-color);
}

.reviews__user::before {
  position: absolute;
  top: 10px;
  left: -20px;

  content: "";
  width: 20px;
  height: 2px;
  border: 1px solid #e08631;
  background-color: var(--accent-color);
  transform: rotate(90deg);
}

.reviews-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-left: 1054px;
}

.reviews__btn-left,
.reviews__btn-right{

  display: block;
  width: 60px;
  height: 60px;
  border: 2px solid var(--primary-color);
  border-radius: 50%;

  background-color: transparent;

  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.reviews__btn-left:hover,
.reviews__btn-right:hover,
.reviews__btn-left:focus,
.reviews__btn-right:focus{
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
  border-color: var(--primary-color);
  outline: none;
}

.reviews__btn-right{
  margin-right: 10px;
}

/* slogan */
.slogan__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 100px;
}

.slogan__container {
  position: relative;
  width: 552px;
  padding-top: 38px;
}

.slogan__container::before {
  content: "";
  display: block;
  width: 42px;
  height: 8px;

  position: absolute;
  top: 0;
  left: 0;

  background-color: var(--accent-color);
}

.slogan__title {
  margin-bottom: 12px;

  font-size: 32px;
  line-height: 1.12;

  color: var(--primary-color);
}

.slogan__text {
  font-size: 16px;
  line-height: 1.5;

  color: var(--primary-color);
}

.slogan__list {
  width: 552px;
  display: grid;
  grid-template-columns: 260px 260px;
  grid-gap: 32px;
}

.slogan__item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 13px;
}

.slogan-icon {
  display: block;
  width: 36px;
  height: 36px;
}

.slogan__item-text {
  width: 208px;
  margin-left: 16px;

  line-height: 1.43;

  color: var(--text-color);
}

/* banner */
.banner {
  position: relative;
  padding-top: 138px;
  padding-bottom: 100px;

  background-color: var(--secondary-color);
}

.banner::before {
  content: "";
  display: block;
  width: 42px;
  height: 8px;

  position: absolute;
  margin: 0;
  top: 100px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  background-color: var(--accent-color);
}

.banner__title {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 600px;
  margin-bottom: 12px;

  font-size: 32px;
  line-height: 1.12;
  text-align: center;

  color: var(--primary-color);
}

.banner__text {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 600px;
  margin-bottom: 18px;

  font-size: 16px;
  line-height: 1.5;
  text-align: center;

  color: var(--primary-color);
}

.banner_btns {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact__btn {
  display: inline-block;

  border: 4px solid #52503b;
  border-radius: 6px;
  padding: 16px 26px;

  font-size: 16px;
  line-height: 1.25;

  cursor: pointer;
}

.contact__btn--light {
  min-width: 116px;
  margin-right: 20px;

  background-color: transparent;
  color: var(--primary-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__btn--dark {
  min-width: 133px;

  background-color: var(--primary-color);
  color: var(--white-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__btn--light:hover,
.contact__btn--light:focus,
.contact__btn--dark:hover,
.contact__btn--dark:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

/* footer */
.footer {
  padding-bottom: 100px;
  padding-top: 100px;

  background-color: var(--primary-color);
  color: var(--white-color);
}

.footer__flex {
  display: grid;
  grid-template-columns: 280px 280px 576px;
  grid-gap: 16px;
}

.footer__box {
  line-height: 1.43;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.footer__pages-list {
  margin-top: 11px;
}

.footer__page-item:not(:last-child) {
  margin-bottom: 12px;
}

.footer__page-link {
  line-height: 1.43;
  color: var(--white-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.footer__page-link:hover,
.footer__page-link:focus{
  color: var(--accent-color);

}

.footer__social-list {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 20px;
}

.footer__social-item:not(:last-child) {
  margin-right: 20px;
}

.footer-icon{
  fill: var(--white-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon:hover{
  fill: var(--accent-color);
}

.footer__submit{
  position: relative;
}

.footer__submit-text {
  width: 563px;
  line-height: 1.43;
  margin-bottom: 10px;
}

.footer__submit-input {
  width: 576px;
  margin: 0;
  padding: 16px 30px;
  border-radius: 8px;

  border: 1px solid #e5e7eb;
  background-color: #f9fafb;
  color: var(--primary-color);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__submit-input::placeholder {
  font-family: 'Montserrat';
  font-style: normal;
  line-height: 1.43;
  font-weight: 400;
  font-size: 14px;

  color: var(--primary-color);
}

.footer__submit-input:hover,
.footer__submit-input:focus{
  outline: none;

  border-color: var(--accent-color);
}

.footer__submit-btn {
  position: absolute;
  right: 11px;
  min-height: 30px;
  margin-top: 9px;

  border: none;
  padding: 5px;
  border-radius: 10px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;

  background-color: var(--primary-color);
  color: var(--white-color);

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__submit-btn:hover,
.footer__submit-btn:focus {
  background-color: var(--accent-color);
}

.footer__logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  width: 200px;
}

.footer__logo{
  width: 200px;
}

.footer__text {
  margin-top: 20px;

  line-height: 1.43;
  text-align: center;
}

.footer__text-link {
  line-height: 1.43;

  color: var(--white-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__text-link:hover,
.footer__text-link:focus {
  color: var(--accent-color);
}

.footer__contacts-list{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.footer__contacts-item:not(:first-child)::before{
  position: absolute;
  top: 10px;
  left: -18px;

  content: "";
  width: 12px;
  height: 1px;
  border: 0px solid #fff;
  background-color: var(--white-color);
}

.footer__contacts-item{
  position: relative;
}

.footer__contacts-item:not(:last-child){
  margin-right: 22px;
}

.footer__contact-link{
  line-height: 1.43;

  color: var(--white-color);
}

.footer__contact-link:hover,
.footer__contact-link:focus{
  color: var(--accent-color);
}
